
.App
{
    font-family: Lato, sans-serif;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    overflow: hidden;

    width: 100%;
    height: 100%;

    flex-flow: row nowrap;
    align-items: stretch;

    color: #333;

    background: white;
}

.App *
{
    transition: all .2s ease;
}

aside
{

    max-width: 20%;
    min-width: 20%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    background: rgba(0, 0, 0, .05);
}

.aside-header{
  padding: 0;
}

.aside-header h2,
.aside-header p{
  margin-top: 0;
}

aside .authors{
  overflow: auto;
  flex: 1;
}

.Collapsible .Collapsible__trigger
{
  border: 5px solid #333;
}


.Collapsible.author .Collapsible__trigger
{
  border: 1px solid white;
}

.Collapsible__trigger
{
    display: block;

    padding: .3rem;

    cursor: pointer;
    font-size: .6rem;
}

.author{
  background: #333;
  color: white;
}

.author.accord{
  background: #d8e7ce;
  color: #333;
}

.author.mitige{
  background: #f08218;
  color: #333;
}

.author.desaccord{
  background: #e4572d;
  color: white;
}


.declaration
{
    font-size: .6rem;

    padding: 1rem;
}

.declaration p,
.declaration ul{
  margin: 0;
}

.declaration-title
{
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
}

#main
{
    display: flex;
    overflow: hidden;

    height: 100%;
    min-width: 70%;

    flex: 1;
    flex-flow: column nowrap;
    align-items: stretch;
    min-width: 60%;
    max-width: 60%;
}

.title{
  margin: 0;
  font-weight: 400;
  font-weight: 900;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

i{
  font-size: .7rem;
}

.title a,
.title a:hover,
.title a:visited{
  text-decoration: none;
  color: inherit;
}

.block{
  cursor: pointer;
}

.block.active{
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.block.active ul,
.block.active ol{
  padding-left: 2rem;
}

#report
{
    overflow: auto;

    padding: 2rem;
    padding-right: 7rem;
    padding-left: 7rem;
    text-align: justify;

    flex: 1;
    font-family: Merriweather, serif;

}
ol,ul{
  padding: 0;
}


#aside-right{
  max-height: 100%;
  min-width: 10%;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  overflow: auto;
}
#mini-report{
  font-size: .6px;
  overflow-y: auto;
  flex: 1;
}

#mini-report ol, #mini-report ul{
  padding: 0;
}
#mini-report li{
  padding: 0;
}

#controls div{
  margin-bottom: 1rem;
  border-top: 1px solid #333;
}

#controls li{
  padding: 0;
  list-style-type: none;
}

/**
 * RESPONSIVITYYYY
 */
@media screen and (max-width: 800px) {
  #report{
    padding: 2rem;
  }
  i{
    display: none;
  }
  .title{
    font-size: 1rem;
  }

  #controls{
    font-size: .6rem;
  }
}

